:root {

}

body{
    margin-left: 150px;
    margin-right:150px;
}
header {
    background-color: #383f6a;
}

#headertxt {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}
nav{
    margin: 0px;
    border:1px solid black;
}
nav ul li{
    display:flex;
    display: inline;
    margin:0px;
    padding:10px;
    
}
#aboutme {
    border: 1px solid black;
    display: flex;
    padding:10px 0px 30px 0px;
}
#aboutme img {
    max-height: 300px;
}

.app-display {
    display:flex;
}

#app-box-prime {
    display:flex;
    max-height: 400px;
    max-width: 100%;
    border: 1px solid black;
    align-self: center;
}

#app-box-prime img {
    min-width: 100%;
    max-height: 400px;
    object-fit: cover;
    }

.app-label {
    font-style: italic;
    border: 2px solid pink;
    font-size: 20px;
    min-height: 50px;
    min-width: 175px;
    position: absolute;
    bottom:0%;
}
.app-box {                  /*podzielic wolne miejsce roeno pomiedzy 4 albo 2*/
    display:flex;
    width:300px;
    height:300px;
    border: 1px black solid;
    
}