:root {
    --main-bg-color: hsl(35, 23%, 74%);
    --main-bd-color: #457884;
    --text-color: #3f3d39;
    --text-bright: #eee2c9;
}

body{
    margin-left: 50px;
    margin-right:50px;
    min-width: 400px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: monospace;
}
    
#headertxt {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 4vw;                         /*vw adapts font size to viewport width*/
    background: linear-gradient(to left, #b8d7ff, #5799e4, #7ba0f0, #1c8ef8, #00325a);
    background-clip: text;                  /*applies painting area to text*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    margin: 0px;
    border-top: #3f3d39 solid 1px;
    border-bottom:#3f3d39 solid 1px;
}

nav ul li{
    display:flex;
    display: inline;
    margin:0px;
    padding:10px;
}

nav ul li a{
    font-family: monospace;
    color: var(--text-color);
    text-decoration: none;
}

#aboutme {
    padding:10px 100px 20px 100px;
    margin-bottom: 20px;
    display: inline-flex;
    max-width: 100%;
    border-bottom: #3f3d39 solid 1px;
}

#aboutme p {
    padding:5px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-style: oblique;
    font-size: large;
}

#avatar{
    max-height:250px;
    border:black solid 2px;
}

.app-display {
    display:flex;
    justify-content: space-evenly;
}

#app-box-prime:hover {
    scale:102%;
    opacity: 0.8;
}

#app-box-prime a{
    display:flex;
    position: relative;
    border: #3f3d39 2px solid;
    border-radius: 50px;
 }

#app-box-prime img{        
    min-width: 100%;       
    max-height: 400px;
    object-fit:cover;       /*fills box without stretching*/
    border-radius: 50px;
}

.app-box {          
    margin:5px;        
    display:flex;
    position:relative;
    width:23%;
    min-height: 200px;
    border:#3f3d39 2px solid;
    border-radius: 50px;
}

.app-box:hover {
    scale:102%;
    opacity: 0.9;
}

.app-box a{
    display:block;
    height:100%;
    width: 100%;
}

#app-img1 {
    background-image: url(../Images/0548.jpg);
}

#app-img2 {
    background-image: url(../Images/0540.jpg);
}

#app-img3 {
    background-image: url(../Images/0295.jpg);
}

#app-img4 {
    background-image: url(../Images/0346.jpg);
}

.app-label {        
    padding:7px;        
    font-style: bolder;
    text-transform: uppercase;
    font-family: monospace;
    color:var(--text-bright);
    font-size: 22px;
    min-height: 50px;
    min-width: 175px;
    position: absolute;
    bottom:0%;
    pointer-events: none;   /*can click through the label box on the underying element*/
}

footer {
    text-align: center;
    color: var(--text-color);
}

footer li{
    display: inline-flex;
}

footer a{
    margin-left: 25px;
    font-size: 25px;
    color: var(--text-color);
}

@media screen and (max-width: 1120px) {
    body {
        margin:10px;
    }

    .app-display {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .app-box{
        flex-grow: 1;
        width: 45%;
        margin-left: 5px;
        margin-right: 5px;

    }
}
@media screen and (max-width: 768px) {
    #headertxt {
        margin:5px;
        font-size: 30px;
        text-align: center;
    }
   
    body{
        margin: 0;
    } 
    #aboutme {
        text-wrap: wrap;
        padding: 0;
        display: block;
    }
    .app-display {
        display: block;
        margin-top: 10px;
    }
    .app-box{
        width: auto;
        margin-top: 10px;
    }
}